@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background: radial-gradient(circle, rgba(223, 255, 205, 1) 0%, rgba(200, 252, 255, 1) 50%, rgba(201, 207, 255, 1) 100%);
    background: radial-gradient(circle, rgba(223, 255, 205, 1) var(--x), rgba(200, 252, 255, 1) calc(var(--x) + 50%), rgba(201, 207, 255, 1) calc(var(--x) + 100%));
    background: radial-gradient(circle, rgba(236, 179, 101, 1) var(--x), rgba(189, 204, 150, 1) calc(var(--x) + 50%), rgba(144, 175, 197, 1) calc(var(--x) + 100%)); /* new */
    animation: colorChange 10s infinite alternate;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

#subject {
    width: 100%;
    height: 100vh;
}

.scrollDown {
    position: absolute;
    right: 10px;
    top: 10%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%
}

.caret {
    width: 100%;
}

.st0 {
    fill: none;
    stroke: #000;
    stroke-width: 92;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    animation: scrollDown 1.5s infinite;
}

.caret:nth-child(1) .st0 {
    animation-delay: 0s;
}

.caret:nth-child(2) .st0 {
    animation-delay: 0.3s;
}

.caret:nth-child(3) .st0 {
    animation-delay: 0.6s;
}

/* SIGNATURE */

#signature {
    position: relative;
    width: 60%;
    top: 10%;
    margin: auto;
}

/* CYLINDER */

#cylinder {
    overflow: hidden;
    height: 1em;
    padding-block: 0.25em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: 5%;
}

#cylinder div {
    height: 100%;
    animation: cylinder 15s infinite;
    line-height: 100%;
    padding-block: 0.5em;
    animation-delay: 1.5s;
}

#cylinder div:first-child {
    transform: translateY(calc(-10% - 0.5em));
}

/* ABOUT */

#about {
    margin: auto;
    width: 60%;
    background-color: rgba(245, 245, 245, 0.7);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
}

#about > h1 {
    margin-bottom: 2rem;
}

#about > div {
    width: 100%;
    display: flex;
    gap: 2rem;
}

#about > div > div {
    width: 50%;
}

#about img {
    width: 100%;
    border-radius: 1rem;
}

#about > div > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#about>div>div p {
    opacity: 0;
    transition: all 0.5s ease-out;
}

#about>div>div p:nth-child(1) {
    animation-delay: 0.5s;
}

#about>div>div p:nth-child(2) {
    animation-delay: 1s;
}

#about>div>div p:nth-child(3) {
    animation-delay: 1.5s;
}

/* PROJECTS */



/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 1rem;
}

